*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    
}
.background{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #ede8ee, #08073c);
    

}
#left,#right{
    width:350px;
    min-height: 500px;
    margin: 20px;
    border-radius: 50px;
    box-shadow: 10px;
    background:  #08073c;
}
.list{
    
    width:300px;
    min-height: 60px;
    background: linear-gradient(to right, #08073c, #eaeaea);
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    font-size: large;
    cursor: grab;   
    
}
.Button {
    cursor: pointer;
      border-radius: 5em;
      color: #08073c;
      background:rgb(255, 255, 255);
      border: 0;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 10px;
      padding-top: 10px;
      font-family: 'Ubuntu', sans-serif;
      margin: 80px;
      margin-left: -500px;
      margin-top: 650px;
      font-size: 25px;
      box-shadow: 0 0 20px 1px rgba(3, 7, 46, 0.04);
  }
